@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
    <h1 class="display-4">CO453</h1>
    <h2>By Muhammad Shakeel</h2>
    
</div>

<section>
    <ol class="list-group">
        <li class="list-group-item" >
            Distance Converter
        </li>
        <li class="list-group-item">
            BMI Calculator
        </li>
    </ol>

</section>
